.main{
  height: 90%;
}
.header{
  padding: 1rem;
}
.header ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.header a{
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
.header ul button{
  background: none;
  border: none;
  cursor: pointer;
}
.header ul button img{
  background-color: none;
}
.header li{
  margin: 0 1rem;
}
.info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
  font-size: 1.5rem;
  font-family: inherit;
}